<div data-role="page">
<div data-role="header">
	<h1>Posts</h1>
	<%= link_to 'Add', new_post_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
<ul data-role="listview" id="posts">
	<% @posts.each do |post| %>
	<li>
		
		<%= link_to post.title, post %>
		<p> <%= post.created_at.to_s(:short) %> </p>
		<%= link_to 'edit post', edit_post_path(post), "data-icon" => "gear" %>
	</li>
	<% end %>
</ul>
	
</div>

<div data-role="footer" data-position="fixed" data-id="nav">
  <div data-role="navbar">
    <ul>
      <li><a href="../pages/#home">Home</a></li>
      <li><a href="../pages/#match-info">Match Info</a></li>
      <li><a href="/posts/" class="ui-btn-active ui-state-persist">Notice Board</a></li>
    </ul>
  </div>

</div>