<div data-role="page">
<div data-role="header">
  <h1><%= @post.title %></h1>
  <%= link_to 'Back to posts', "/posts/", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <%= @post.body %>
</div>

<div data-role="footer" data-position="fixed" data-id="nav">
  <div data-role="navbar">
    <ul>
      <li><a href="/pages/#home">Home</a></li>
      <li><a href="/pages/#match-info">Match Info</a></li>
      <li><a href="/posts/" class="ui-btn-active ui-state-persist">Notice Board</a></li>
    </ul>
  </div>
</div>